#chart-container {
  width: 100%;
  max-width: 800px; /* Largura máxima do contêiner */
  height: auto;
  overflow: hidden; /* Evita conteúdos indesejados */
}

canvas {
  display: block; /* Evita margens e espaços adicionais */
  max-width: 100%; /* Ajusta o tamanho horizontal */
  height: 400px; /* Altura fixa */
}
